---
layout: default
---
<div class="header-post">
  <a href="/">
    <img src="{{site.logo}}" alt="Logo" />
  </a>
</div>

<div class="post-wrapper">
  <h1>
    <span class="post-title">
      {{ page.title }}
    </span>
  </h1>
  {{content}}

  <div class="tags">
    <b>Tags:</b>
    {% for tag in page.tags %}
      <a href='#' class="tag">{{ tag }}</a>
    {% endfor %}
  </div>
  <div class="related-posts">
    <p><i>
      Cảm ơn bạn đã theo dõi bài viết!
    </i></p>
  </div>
</div>

<div class="footer-post">
  <p>
    you're free to use the content on this blog for whatever you want
  </p>
  <p>
    Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
  </p>
  <p>
    Custom as inspired by <a href="https://thefullsnack.com/">thefullsnack.com</a>
  </p>
</div>